{{#each this}}
  <div class="photo-card">
        <div class="photo-wrapper">
          <div class="gallery">
        <a href="{{webformatURL}}">
      <img src="{{largeImageURL}}" alt="{{tags}}" title="Beautiful Image" loading="lazy"/></a>
      </div>
      </div>
          <div class="info">
            <p class="info-item">{{likes}}</p>
            <p class="info-item">{{views}}</p>
            <p class="info-item">{{comments}}</p>
            <p class="info-item">{{downloads}}</p>
          </div>
      </div>
{{/each}}